.banner__imagem
{
  width: 100%;
}

@media screen and (min-width: 0)
{
  .banner__imagem
  {
    height: calc(100vh - 50vh);
  }
}

@media screen and (min-width: 0)
{
  .banner__imagem
  {
    height: calc(100vh - 40vh);
  }
}